name: Test SHARK

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test-shark:
    strategy:
      matrix:
        version: [3.11]

    container: ghcr.io/iree-org/cpubuilder_ubuntu_jammy_ghr_x86_64:main
    runs-on:
      - arc-test-runners
    steps:
      - name: "Checkout SHARK"
        uses: actions/checkout@v4
        with:
          repository: "nod-ai/SHARK"
          path: SHARK

      - name: "Install SHARK"
        run: |
          cd $GITHUB_WORKSPACE/SHARK
          python -m venv shark.venv
          source shark.venv/bin/activate
          pip install -r requirements.txt --no-cache-dir
          pip install -e .
          python apps/shark_studio/tests/api_test.py
        shell: bash
